<script src="https://giscus.app/client.js"
        data-repo="phoinixgrr/mastori-comments"
        data-repo-id="R_kgDORnZ6Jw"
        data-category="General"
        data-category-id="DIC_kwDORnZ6J84C4bIr"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
